.absolute {
position:absolute;
}

.relative {
position:relative;
}

.top-0 {
top:0;
}

.left-0 {
left:0;
}

.w-full {
width:100%;
}

.ratio-16\/9::after {
content:"";
display:block;
padding-top:calc(100% / 16 * 9);
}

.ratio-16\/9::after {
content:"";
display:block;
padding-top:calc(100% / 16 * 9);
}

.ratio-9\/16::after {
content:"";
display:block;
padding-top:calc(100% / 9 * 16);
}

.ratio-1\/1::after {
content:"";
display:block;
padding-top:calc(100% / 1 * 1);
}

.ratio-1\/2::after {
content:"";
display:block;
padding-top:calc(100% / 1 * 2);
}