<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

    <head>
        <title>온라인 마크다운 PPT 서비스! 피피토 | 회원가입</title>
    </head>

    <div layout:fragment="content">

        <div class="mb-10"></div>

        <div class="flex justify-center py-3">
            <div class="w-72 flex flex-col">
                <span class="text-3xl mb-2">
                    회원가입
                </span>
                <span class="text-sm text-gray-500">온라인 마크다운 PPT 서비스, 피피토</span>
            </div>
        </div>

        <form action="../member/doJoin" method="POST" class="rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
            <div class="mb-4">
                <div class="mb-2 flex justify-center">
                    <input class="shadow appearance-none border border-red rounded w-72 py-2.5 px-3 text-grey-darker" maxlength="30" name="loginId" type="text" placeholder="아이디">
                </div>
                <div class="mb-2 flex justify-center">
                    <input class="shadow appearance-none border border-red rounded w-72 py-2.5 px-3 text-grey-darker" maxlength="50" name="loginPw" type="password" placeholder="비밀번호">
                </div>
                <div class="mb-2 flex justify-center">
                    <input class="shadow appearance-none border border-red rounded w-72 py-2.5 px-3 text-grey-darker" maxlength="50" name="loginPwConfirm" type="password" placeholder="비밀번호 확인">
                </div>
                <div class="mb-2 flex justify-center">
                    <input class="shadow appearance-none border border-red rounded w-72 py-2.5 px-3 text-grey-darker" maxlength="30" name="name" type="text" placeholder="이름">
                </div>
                <div class="mb-2 flex justify-center">
                    <input class="shadow appearance-none border border-red rounded w-72 py-2.5 px-3 text-grey-darker" maxlength="30" name="nickName" type="text" placeholder="닉네임">
                </div>
                <div class="flex justify-center">
                    <input class="shadow appearance-none border border-red rounded w-72 py-2.5 px-3 text-grey-darker" maxlength="50" name="email" type="email" placeholder="이메일">
                </div>
            </div>
            <div class="flex items-center justify-center flex-col">
                <button class="bg-black text-white font-bold w-72 py-3 px-4 rounded mb-1" type="submit">
                    회원가입
                </button>
                <div class="flex items-center justify-center w-56 text-gray-500 text-sm">
                    <a href="../member/login" class="mr-3 hover:text-black">로그인</a>|
                    <a href="../member/login" class="ml-3 hover:text-black">취소</a>
                </div>
            </div>
        </form>

        <div class="mb-10"></div>

    </div>

</body>
</html>