<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

    <head>
        <title>온라인 마크다운 PPT 서비스! 피피토 | 로그인</title>
    </head>

    <div layout:fragment="content" class="container mx-auto">

        <div class="mb-20"></div>

        <div class="flex justify-center py-5">
            <div class="w-72 flex flex-col">
                <span class="text-3xl mb-2">
                    빠르고<br>
                    간편하게<br>
                    깔끔한 디자인으로
                </span>
                <span class="text-sm text-gray-500">온라인 마크다운 PPT 서비스, 피피토</span>
            </div>
        </div>

        <form action="../member/doLogin" method="POST" class="rounded px-8 py-4 flex flex-col">
            <div class="mb-4">
                <div class="flex justify-center mb-2">
                    <input class="shadow appearance-none border rounded w-72 py-2.5 px-3 text-grey-darker" maxlength="30" name="loginId" type="text" placeholder="아이디">
                </div>
                <div class="flex justify-center ">
                    <input class="shadow appearance-none border rounded w-72 py-2.5 px-3 text-grey-darker" maxlength="50" name="loginPw" type="password" placeholder="비밀번호">
                </div>
            </div>
            <div class="flex items-center justify-center flex-col">
                <button class="bg-black text-white font-bold w-72 py-3 px-4 rounded mb-3" type="submit">
                    로그인
                </button>
                <div class="flex items-center justify-center w-56 text-gray-500 text-sm">
                    <a href="#" class="mr-3 hover:text-black">비밀번호 찾기</a>|
                    <a href="../member/join" class="ml-3 hover:text-black">회원가입</a>
                </div>
            </div>
        </form>

        <div class="mb-20"></div>

    </div>

</html>